<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bład</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
</head>
<body>
	<h1>Wystapił bład</h1>
	<h1>Nie odnaleziono pliku lub na podane dane zostalo juz utworzone
		konto</h1>
	<h3>
		<a th:href="@{/glowna}">Wróć do strony głównej</a>
	</h3>
</body>
</html>