@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(130deg, #a2d5c6, #077b8a);
	background-attachment: fixed;
	overflow: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-size: cover;
}

.btn-usun {
	border-color: red !important;
}

.btn-pobierz {
	border-color: green !important;
}

.btn-podfolder {
	border-color: green !important;
	background-color: grey !important;;
}

body {
	background-color: #E2F1F7;
}

table.custom-table {
	background-color: #e6f0ff;
}

.table tbody td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}

.navbar {
	background: #077b8a;
	opacity: 100%
}

.form-signup {
	background-color: #E2F1F7;
	border-radius: 20px;
	width: 90%;
	padding: 20px;
	margin-top: 150px;
}

.login {
	max-width: 350px;
	margin: 0 auto;
	background-color: #E2F1F7;
	border-radius: 20px;
	width: 90%;
	padding: 30px;
	margin-top: 150px;
}

.card-body {
	padding: 20px;
	width: 350px;
	margin: 0 auto;
	background-color: #E2F1F7;
	border-radius: 5px;
	width: 90%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
	background-color: #077b8a;
	color: white;
	padding: 8px;
	margin-top: auto;
	opacity: 85%;
	font-size: 14px;
}

input.wiekszy {
	width: 30px;
	height: 30px;
}

.tekstglowna {
	font-size: 18px;
	font-family: Verdana, sans-serif;
	color: white;
}

.tekstkatalog {
	font-size: 32px;
	font-family: Verdana, sans-serif;
	text-align: center;
}

/* Notatnik */
.toggle-button {
  position: fixed;
  top: 20%;
  right: 0;
  transform: translateY(-50%);
  background-color: #E0FF00; 
  font-size: 20px;
  color: black; 
  padding: 20px 20px;
  border-radius: 20px 0 0 20px;
  z-index: 9999;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 0px; 
  border: none;
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.vertical-btn-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button.hidden {
	right: -170px;
}

.sidebar {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	background-color: #E2F1F7;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: right 0.3s ease;
}

.sidebar.show {
	right: 0;
}

/* Pokazywanie hasła z ikonką */
.password-wrapper {
	position: relative;
}

.password-toggle-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 18px;
	color: #777;
}

input[type="password"]::-webkit-text-security-disc {
	display: none;
}

input[type="password"]:not(:focus)+.password-toggle-icon::before {
	content: "\f06e";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #aaa;
}

/* Wysuwany formularz do podkatalogow */
#hidden-div {
	padding: 10px;
	margin-top: 10px;
}

/*Wysylanie pliku */
.form-container {
	position: relative;
}

.drag-drop-area {
	border: 2px dashed #ccc;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.drag-drop-area:hover {
	border-color: #007bff;
}

.custom-file-input {
	display: none;
	
	
}

.file-display {
	border: 1px solid #ccc;
	padding: 8px;
	margin-top: 10px;
	display: none;
}

#wyslijPlikButton {
	display: none;
	margin-top: 10px;
	text-align: center;
}

/*Podglad pliku */
#lightboxDiv {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	align-items: center;
	justify-content: center;
}

#lightboxZawartosc {
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

#lightboxZawartosc img, #lightboxZawartosc video, #lightboxZawartosc audio,
	#lightboxZawartosc iframe {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}

.list-group-item {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.panel {
	background: #1978a5;
	padding: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.panelwew {
	background: #146084;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.paneleglowne {
	color: white;
}

.custom-link {
	color: yellow;
	font-weight: bold;
}

.panelKontakt {
	background: none;
	padding: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: none;
}

.hiperlaczaPodkatalogi {
    background-color: gray;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 5px 10px; 
    font-size: 14px; 
}

.hiperlaczaPodkatalogiDomowy {
	background-color: yellow;
	font-weight:bold;
	color:black;
	margin-bottom: 5px;
	margin-left: 10px;
}

#dzialanie_witryny {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

#dzialanie_witryny p {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

/*Sidebar Podkatalog */
.sidebarKatalog {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	left: -250px;
	background-color: #a2d5c6; 
	overflow-x: hidden;
	transition: 0.5s;
color: white;
}

.sidebarKatalog a {
	padding: 16px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidebarKatalog a:hover {
	color: #f1f1f1;
}

.content {
	flex-grow: 1;
	padding: 16px;
}

#podkatalogSidebar {

    position: fixed;
    top: 20%;
    left: 0;
    transform: translateY(-60%);
    background-color: #E0FF00;
    font-size: 20px;
    color: black;
    padding: 20px 20px;
    width: 110px;
    height: 40px;
    text-align: center;
    line-height: 0px;
    border: none;
    cursor: pointer;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.katalogSidebarZamknij {
	font-size: 36px;
	color: #818181;
	position: absolute;
	top: 0;
	right: 10px;
	text-decoration: none;
}

.katalogSidebarZamknij:hover {
	color: #f1f1f1;
	cursor: pointer;
}

.sidebar {
    background-color:#061c27; 
}

.headernot {
	
	font-size: 42px;
	font-family: Verdana, bold;
	color: white;
	text-align: center;
}

.opisnot {
	
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: white;
	text-align: center;
}

.panelwewnot {
	background: #072431;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.pobraniepliku {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:12px 12px;
	
	text-shadow:0px 1px 0px #283966;
}
.pobraniepliku:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.pobraniepliku:active {
	position:relative;
	top:1px;
}



.paneladminaP {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	padding:5px 5px;
	
	text-shadow:0px 1px 0px #283966;
}
.paneladminaP:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.paneladminaP:active {
	position:relative;
	top:1px;
}