@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(130deg, #a2d5c6, #077b8a);
	overflow: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-size: cover;
}

.btn-usun {
	border-color: red !important;
}

.btn-pobierz {
	border-color: green !important;
}

.btn-podfolder {
	border-color: green !important;
	background-color: grey !important;;
}

body {
	background-color: #E2F1F7;
}

table.custom-table {
	background-color: #e6f0ff;
}

.table tbody td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}

.navbar {
	background: #077b8a;
	opacity: 100%
}

.form-signup {
	background-color: #E2F1F7;
	border-radius: 20px;
	width: 90%;
	padding: 20px;
	margin-top: 150px;
}

.login {
	max-width: 350px;
	margin: 0 auto;
	background-color: #E2F1F7;
	border-radius: 20px;
	width: 90%;
	padding: 30px;
	margin-top: 150px;
}

.card-body {
	padding: 20px;
	width: 350px;
	margin: 0 auto;
	background-color: #E2F1F7;
	border-radius: 5px;
	width: 90%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
	background-color: #077b8a;
	color: white;
	padding: 8px;
	margin-top: auto;
	opacity: 85%;
	font-size: 14px;
}

input.wiekszy {
	width: 30px;
	height: 30px;
}

.tekstglowna {
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

.tekstkatalog {
	font-size: 32px;
	font-family: Verdana, sans-serif;
	text-align: center;
}

/* Notatnik */
.toggle-button {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: #E0FF00;
	color: black;
	padding: 20px 20px;
	border-radius: 20px 0 0 20px;
	z-index: 9999;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	border: none;
}

.vertical-btn-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button.hidden {
	right: -170px;
}

.sidebar {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	background-color: #E2F1F7;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: right 0.3s ease;
}

.sidebar.show {
	right: 0;
}

/* Pokazywanie hasła z ikonką */
.password-wrapper {
	position: relative;
}

.password-toggle-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 18px;
	color: #777;
}

input[type="password"]::-webkit-text-security-disc {
	display: none;
}

input[type="password"]:not(:focus)+.password-toggle-icon::before {
	content: "\f06e";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #aaa;
}

