<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Strona główna</title>
 <link rel="icon" href="assets/icons8-disk-32.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Katalog Plików</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/udostepnij">Udostępnij</a>
        </li>  
    </ul>
    <div th:if="${username == 'admin'}" class="ml-auto">
  <a class="nav-link custom-link" href="/Panel_Administatora">Panel Administratora</a>
</div>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>


<br></br>

<main role="main" class="inner cover text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <h1 class="cover-heading display-4 font-weight-bold" style="font-size: 58px; color: white">Witaj na TwojePliki.tech !</h1>
          <br>
          <p class="tekstglowna">Witaj na TwojePliki.tech - innowacyjnej platformie do przechowywania i sprawnego zarządzania plikami w chmurze. 
          Niezależnie od tego, czy jesteś profesjonalistą, studentem czy pasjonatem, nasza usługa umożliwia łatwe przechowywanie, udostępnianie i synchronizację plików w bezpiecznym środowisku online. 
          Dzięki zaawansowanym funkcjom organizacyjnym oraz wydajnym narzędziom udostępniania, Twoje pliki są zawsze pod kontrolą. 
          Dołącz do naszej społeczności i doświadcz nowego wymiaru przechowywania plików na TwojePliki.tech! </p>
          
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="panelwew">
                <h2 class="paneleglowne">Przesyłanie</h2>
                <p class="paneleglowne">Tutaj możesz łatwo przesyłać swoje pliki na TwojePliki.tech, gwarantując ich bezpieczne przechowywanie w chmurze.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panelwew">
                <h2 class="paneleglowne">Udostępnianie</h2>
                <p class="paneleglowne">Dzięki naszym zaawansowanym narzędziom udostępniania, możesz bezpiecznie dzielić się swoimi plikami z innymi użytkownikami.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panelwew">
                <h2 class="paneleglowne">Usuwanie</h2>
                <p class="paneleglowne">Zarządzaj swoimi plikami, usuwając niepotrzebne zasoby, zachowując jednocześnie kontrolę nad swoim kontem.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</main>

	    <div class="container vertical-btn-container">
  <div class="toggle-button" id="sidebarNotatnikPrzycisk">Notatnik</div>
</div>
  <div class="sidebar" id="sidebar">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-4">Notatnik</h1>
          <div class="note-container">
            <textarea id="notatkaTextArea" class="form-control mb-3" rows="10" cols="50"></textarea>
            <button id="zapiszNotatkePrzycisk" class="btn btn-primary">Zapisz</button>
            <button id="cofnijSidebarPrzycisk" class="btn btn-secondary">Powrót</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/notatnik.js"></script>
  
	<footer class="footer">
       <p style="color: white; text-align: center;">© Copyright Jakub Lesiński & Jakub Piłkowski 2023</p>
    </footer>
    
</body>
</html>