<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="F12.js"></script>
<script type="text/javascript" src="Prawy_mysz.js"></script>
</head>
<body>
	<div class="container text-center">
		<h2>Jakub Piłkowski</h2>
		<h3>
			<a th:href="@{/glowna}">Wróć do strony głównej</a>
		</h3>
	</div>
</body>
</html>