<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista plików [[${#request.userPrincipal.principal.username}]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="icon" href="assets/icons8-disk-32.png" type="image/png">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Katalog Plików</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/udostepnij">Udostepnij</a>
        </li>  
    </ul>  
    <ul class="navbar-nav"> 
      <li class="nav-item">
        <a class="nav-link" href="/wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>

<p class="tekstkatalog">  Witaj <b style="font-weight: bold;">[[${#request.userPrincipal.principal.ImieNazwisko}]]</b> </p>
    <div class="container text-center">
    
        <button id="podktalogButton" class="btn btn-primary">Przejdz do katalogu:</button>
        <div id="podkatalogDiv" class="podkatalog" style="display: none;">
        
			<form id="podkatalogForm">
			Chcesz przejsc do katalogu lub go utworzyć?
				<input type="text" id="podkatalogInput" placeholder="Wprowadź nazwę folderu" required>
				<button type="submit" class="btn btn-primary">Zatwierdz</button><br/>
				<button type="button" id="podkatalogCofnijButton" class="btn btn-primary btn-podfolder">Powrót do katalogu nadrzednego</button>
			</form>
    	</div>
    </div>
<br/>

<div class="container text-center">
    <div id="divPowiadomienie"></div>  
  
<div id="lightboxDiv" style="display: none;">
    <div id="lightboxZawartosc"></div>
</div>
  <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto form-container">
            <form id="wysylaniePlikowForm">
                <div class="form-group">
                    <label for="plikInput" class="drag-drop-area">
                        Przeciągnij pliki tutaj lub wybierz je klikając
                        <input type="file" class="custom-file-input" id="plikInput" name="file" multiple required>
                    </label>
                </div>
                <div class="file-display" id="plikWyslijPokaz"></div>
                <div id="wyslijPlikButton">
                    <button type="submit" class="btn btn-primary">Wyślij plik</button>
                </div>
            </form>
        </div>
    </div>
</div>

</br>

     <button id="pobierz">Pobierz zaznaczone pliki</button>
     <hr />
    <div class="row" id="listaPlikow"></div>
 <hr />
 
         <div class="modal" id="oknoPotwierdzenia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potwierdzenie usunięcia pliku</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="potwierdzeniePowiadomienie">
                Czy na pewno chcesz usunąć plik?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="potwierdzUsuniecie">Tak, chcę usunąć</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie, nie chcę usunąć</button>
            </div>
        </div>
    </div>
</div>
   <div class="modal" id="zamianaModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Plik już istnieje!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="istniejePlikPowiadomienie">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="anulujIstniejePlik" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>
		<script type="text/javascript" src="js/katalog.js"></script>
	</div>	
  <script type="text/javascript" src="js/katalog.js"></script>
  
    <div class="container vertical-btn-container">
  <div class="toggle-button" id="sidebarNotatnikPrzycisk">Notatnik</div>
</div>
  <div class="sidebar" id="sidebar">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-4">Notatnik</h1>
          <div class="note-container">
            <textarea id="notatkaTextArea" class="form-control mb-3" rows="10" cols="50"></textarea>
            <button id="zapiszNotatkePrzycisk" class="btn btn-primary">Zapisz</button>
            <button id="cofnijSidebarPrzycisk" class="btn btn-secondary">Powrót</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/notatnik.js"></script>
  
	<footer class="footer">
       <p style="color: white; text-align: center;">© Copyright Jakub Lesiński & Jakub Piłkowski 2023</p>
    </footer>
    
</body>
</html>
