<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista plików
	[[${#request.userPrincipal.principal.username}]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="F12.js"></script>
<script type="text/javascript" src="Prawy_mysz.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/glowna">Wróć do strony głównej</a>
        </li>
      </ul>
    </div>
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white">
  Witaj <b style="font-weight: bold; font-family: Tahoma, sans-serif;">[[${#request.userPrincipal.principal.ImieNazwisko}]]</b>
</a>
        </li>
      </ul>
    </div>
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Wyloguj</a>
        </li>
      </ul>
    </div>
  
</nav>
	<div class="container text-center">
	</br>
		<form id="upload-form">
			<input type="file" id="file-input" name="file"  multiple required>
    <button type="submit" class="btn btn-primary">Wyślij plik</button>
		</form>
		<hr />
		<div class="row" id="data"></div>
		<hr />
		<button id="pobierz">Pobierz zaznaczone pliki</button>
		<script type="text/javascript" src="js/katalog.js"></script>
	</div>
</body>
</html>
