<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kontakt</title>
 <link rel="icon" href="assets/icons8-disk-32.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div sec:authorize="isAuthenticated()">
<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Katalog Plików</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/udostepnij">Udostepnij</a>
        </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div sec:authorize="!isAuthenticated()">
<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/rejestracja">Rejestracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
    </ul>
  </div>
</nav>
</div>

	<div class="container text-center">
	<main role="main" class="inner cover text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panelKontakt">
          <h1 class="cover-heading display-4 font-weight-bold" style="font-size: 58px; color: white">Witaj na TwojePliki.tech !</h1>
          <br>
          <p class="tekstglowna"><h3>
          <p>Wszelkie pytania lub wątpliwości dotyczące działania Witryny lub niniejszego regulaminu prosimy kierować na adres e-mail:<br> <b>kontakt@twojepliki.tech</b></p></h3>
		<h3><p><b><a href="/regulamin">Regulamin</a></b> </p></h3> </p>
			<div sec:authorize="isAuthenticated()">
	<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/12.png"; alt="Zdjęcie 2" class="img-fluid mb-3">
        <br>
        <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#leftLinksCollapse">
          Jakub Lesiński
        </button>
        <div class="collapse mt-3" id="leftLinksCollapse">
          <ul class="list-group">
            <li class="list-group-item"><a href="mailto:11104@student.puzim.edu.pl">Mail kontaktowy: 11104@student.puzim.edu.pl</a></li>
            <li class="list-group-item"><a href="https://github.com/JakubLesinski11104">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/12.png" alt="Zdjęcie 2" class="img-fluid mb-3">
        <br>
        <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#rightLinksCollapse">
          Jakub Piłkowski
        </button>
        <div class="collapse mt-3" id="rightLinksCollapse">
          <ul class="list-group">
            <li class="list-group-item"><a href="mailto:11109@student.puzim.edu.pl">Mail kontaktowy: 11109@student.puzim.edu.pl</a></li>
            <li class="list-group-item"><a href="https://github.com/JakubPilkowski11109">Github</a></li>        
          </ul>   
        </div>  
      </div>    
    </div>    
  </div>  
  </div>
		   </div>
		   <div sec:authorize="isAuthenticated()">
		   <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#dzialanie_witryny">Działanie witryny</button>
        <div id="dzialanie_witryny" class="collapse mt-3">
        <p>Podgląd plików działa na nastepujące rozszerzenia:.mp3, .wav, .flac, .ogg, .aac, .wma, .ape, .txt, .cmd, .bat, .jpg,</p>
        <p>.png, .jpeg, .gif, .bmp, .tiff, .webp, .svg, .psd, .ico, .jp2, .mp4, .avi, .mkv, .mov, .wmv, .flv, .webm, .m4v, .3gp, .rm.</p>
        	<p>Poprawne udostępnienie pliku oznacza wysłanie emaila z informacją dla użytkownika który otrzymał plik.</p>
            <p>Udostepnione pliki znajdują sie w folderze Udostepnione.</p>
            <p>Zawsze w katalogu bedzię się znajdował folder Udostepnione.</p>
            <p>Jeżeli usuniesz pliki w katalogu Udostepnione to automatycznie ponownie się on utworzy(bez wcześniejszych plików).</p>   
            </div>	    
        </div>
        
      </div>  
    </div>
  </div>
</main>
	<br/></div>
		
	<footer class="footer">
       <p style="color: white; text-align: center;">© Copyright Jakub Lesiński & Jakub Piłkowski 2023</p>
    </footer>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>