<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>lis_wys_us</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="F12.js"></script>
<script type="text/javascript" src="Prawy_mysz.js"></script>

</head>
<body>
	<div class="container text-center">
		<h2>lis_wys_us</h2>
		<h3>
			<a th:href="@{/glowna}">Wróć do strony głównej</a>
		</h3>

	</div>
	<h1>Wrzucone pliki przez:
		[[${#request.userPrincipal.principal.username}]]</h1>
	<table>
		<thead>
			<tr>
				<th>Nazwa</th>
				<th>Pobierz</th>
				<th>url</th>
			</tr>
		</thead>
		<tbody id="data">
		</tbody>
	</table>


	<script type="text/javascript" src="lista.js"></script>

	<br />
	<h1>Wrzuć plik!</h1>
	<form id="wysylanie">


		<label for="file">Plik:</label> <input type="file" id="file"
			name="file" required>

		<button type="submit">Wyślij</button>
	</form>

	<script type="text/javascript" src="wysylanie.js"></script>


	<br />
	<h1>Usuń pliki:Wrzucone przez:
		[[${#request.userPrincipal.principal.username}]]</h1>
	<form id="usuwanie">
		<label for="file-id">ID pliku:</label> <input type="text" id="file-id"
			name="file-id" required>

		<button type="submit" id="przycisk_usun">Usuń</button>
	</form>

	<script type="text/javascript" src="usuwanie.js"></script>

</body>
</html>