<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista użytkowników</title>
 <link rel="icon" href="assets/icons8-disk-32.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div th:if="${#httpServletRequest.userPrincipal.getName() != 'admin'}">
		<div class="container text-center">
			<p>Za chwilę zostaniesz przekierowany na inną stronę...</p>
			<script type="text/javascript">
				setTimeout(function() {
					window.location.href = "/glowna";
				}, 5000);
			</script>
			<p>
				Jeśli przekierowanie nie działa automatycznie, kliknij <a
					th:href="@{/glowna}">tutaj</a>.
			</p>
		</div>
	</div>
	<div th:if="${#httpServletRequest.userPrincipal.getName() == 'admin'}">
		<div class="container-fluid">
			<h3>
				<a th:href="@{/rejestracja}">Rejestracja</a>
			</h3>
			<h3>
				<a th:href="@{/login}">Login</a>
			</h3>
			<h3>
				<a th:href="@{/kontakt}">Kontakt</a>
			</h3>
			<h3>
				<a th:href="@{/katalog}">Katalog plików</a>
			</h3>
		</div>
		<div class="container text-center">
			<div>
				<form th:action="@{/logout}" method="post">
					<p>
					<div
						th:if="${#httpServletRequest.userPrincipal.getName() == 'admin'}">
						<p>Jesteś zalogowany jako admininistator.</p>
					</div>
					<p>
						Witaj <b>[[${#request.userPrincipal.principal.ImieNazwisko}]]</b>
						Witaj <b>[[${#request.userPrincipal.principal.username}]]</b>
					</p>
					<input type="submit" value="Wyloguj się" />
				</form>
			</div>
			<div>
				<h1>Lista uzytkownikow</h1>
			</div>
			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>E-mail</th>
							<th>Imie</th>
							<th>Nazwisko</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Uzytkownik: ${listaUzytkownik}">
							<td th:text="${Uzytkownik.id}">ID</td>
							<td th:text="${Uzytkownik.email}">E-mail</td>
							<td th:text="${Uzytkownik.imie}">Imie</td>
							<td th:text="${Uzytkownik.nazwisko}">Nazwisko</td>
							<td th:text="${Uzytkownik.username}">Username</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container text-center">
			<h1>Pliki użytkowników:</h1>
			<form id="value-form">
				<input type="text" id="value-input" placeholder="Wprowadź wartość"
					required>
				<button type="submit" class="btn btn-primary">Wyślij</button>
			</form>
			<div id="error-message" style="display: none;"
				class="alert alert-danger"></div>
			<table id="fileList" class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Nazwa pliku</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<script src="js/plikiadmina.js"></script>
	</div>
<footer class="footer">
       <p style="color: white; text-align: center;">© Copyright Jakub Lesiński & Jakub Piłkowski 2023</p>
    </footer>
</body>
</html>