<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rejestracja</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
</head>
<body>
	<div class="container-fluid">
		<h3>
			<a th:href="@{/login}">Login</a>
		</h3>
		<h3>
			<a th:href="@{/kontakt}">Kontakt</a>
		</h3>
	</div>
	<div class="container text-center">
		<div>
			<h1>Rejestracja konta</h1>
		</div>
		<form th:action="@{/proces_rejestracji}" th:object="${uzytkownik}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required maxlength="40" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Username </label>
					<div class="col-8">
						<input type="text" th:field="*{username}" class="form-control"
							pattern="[a-zA-Z0-9]+" required maxlength="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Hasło: </label>
					<div class="col-8">
						<input type="password" id="haslo" th:field="*{haslo}"
							class="form-control" required minlength="6" maxlength="20" />
					</div>
				</div>
				
<button onclick="generujiwyswietlhaslo()">Generuj hasło</button>
  <input type="text" id="polehasla" readonly>
  	<script type="text/javascript" src="js/gen_haslo.js"></script>
  	
				<div class="form-group row">
					<label class="col-4 col-form-label">Powtórz hasło: </label>
					<div class="col-8">
						<input type="password" id="hasloPowtorzone" class="form-control"
							required minlength="6" maxlength="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Imie: </label>
					<div class="col-8">
						<input type="text" th:field="*{imie}" class="form-control"
							required maxlength="15" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Nazwisko: </label>
					<div class="col-8">
						<input type="text" th:field="*{nazwisko}" class="form-control"
							required maxlength="20" />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary"
						onclick="sprawdzHaslo()">Zarejestruj</button>
				</div>
			</div>
		</form>
	</div>
  
	<script>
		function sprawdzHaslo() {
			var haslo = document.getElementById("haslo").value;
			var hasloPowtorzone = document.getElementById("hasloPowtorzone").value;

			if (haslo !== hasloPowtorzone) {
				alert("Wprowadzone hasła nie są identyczne. Proszę wprowadzić poprawne hasło.");
				event.preventDefault();
			}
		}
	</script>
</body>
</html>
