<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rejestracja</title>
<link rel="icon" href="assets/icons8-disk-32.png" type="image/png">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/F12_PPM.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div sec:authorize="isAuthenticated()">
<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Katalog Plików</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/udostepnij">Udostepnij</a>
        </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div sec:authorize="!isAuthenticated()">
<nav class="navbar navbar-expand-md navbar-dark mb-4">
   <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Logowanie</a>
        </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
    </ul>
  </div>
</nav>
</div>

	<div class="container text-center">
		
		<form th:action="@{/proces_rejestracji}" th:object="${uzytkownik}"
			class="form-signup" method="post"
			style="max-width: 470px; margin: 0 auto;">
			<div>
				<h1 class="LogRejH">Zarejestruj się:</h1>
			</div>
			<br>
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label"><b>E-mail:</b> </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							title="Podaj adres email" placeholder="Podaj adres email" required maxlength="40" />
						<p th:text="${komunikat_email}"></p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"><b>Imię:</b></label>
					<div class="col-8">
						<input type="text" th:field="*{imie}" class="form-control"
							title="Podaj swoje imię" placeholder="Podaj swoje imię" required maxlength="15" />
						<p th:text="${komunikat_imie}"></p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"><b>Nazwisko:</b></label>
					<div class="col-8">
						<input type="text" th:field="*{nazwisko}" class="form-control"
							title="Podaj swoje nazwisko" placeholder="Podaj swoje nazwisko" required maxlength="20" />
						<p th:text="${komunikat_nazwisko}"></p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label"><b>Username:</b></label>
					<div class="col-8">
						<input type="text" th:field="*{username}" class="form-control"
							title="Nazwa uzytkownika musi zawierać mimimum 5 znaków i nie moze zawierać znaków specjalnych!" 
							placeholder="Podaj nazwę użytkownika" pattern="[a-zA-Z0-9]+" required
							maxlength="20" />
						<p th:text="${komunikat_username}"></p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label"><b>Hasło:</b></label>
					<div class="col-8">
						<div class="password-wrapper">
							<input type="password" id="haslo" th:field="*{haslo}"
								class="form-control" required minlength="6" maxlength="20"
								title="Hasło musi zawierać mimimum 6 znaków, co najmniej jedną małą literę, jedną dużą literę, oraz znak specjalny lub cyfrę."
								placeholder="Podaj hasło" />
							<i class="password-toggle-icon fas fa-eye"
								onclick="pokazHaslo('haslo')"></i>
						</div>
						<p th:text="${komunikat_haslo}"></p>
						<div id="hasloPowiadomienieBlad" style="color: red;"></div>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-4 col-form-label"><b>Powtórz hasło:</b></label>
					<div class="col-8">
						<div class="password-wrapper">
							<input type="password" id="hasloPowtorzone" class="form-control"
								title="Hasło musi zawierać mimimum 6 znaków, co najmniej jedną małą literę, jedną dużą literę, oraz znak specjalny lub cyfrę."
								placeholder="Powtórz hasło"
								required minlength="6" maxlength="20" /> <i
								class="password-toggle-icon fas fa-eye"
								onclick="pokazHaslo('hasloPowtorzone')"></i>
						</div>
						<p th:text="${komunikat_haslo}"></p>
						<div id="hasloPowtorzonePowiadomienieBlad" style="color: red;"></div>
					</div>
				</div>
				<center>
				<p>Przy zarejestrowaniu zgadzasz się na <a href="/regulamin">regulamin</a>.</p>
				<div>
				
					<button type="submit" class="zalogujButton"
						>Zarejestruj</button>
				</div>
				</center>
			</div>
		</form>
	</div>
<br></br>
<script type="text/javascript" src="js/Spr_Pok_Has.js">	</script>

	<footer class="footer">
		<p style="color: white; text-align: center;">© Copyright Jakub
			Lesiński & Jakub Piłkowski 2023 - 2024</p>
	</footer>

</body>
</html>