<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset hasla</title>
 <link rel="icon" href="/assets/icons8-disk-32.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/F12_PPM.js"></script>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark mb-4">
  <a class="navbar-brand" style="background-image: url('/assets/icons8-disk-32.png'); background-size: 32px 32px; width: 32px; height: 32px;" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" bis_skin_checked="1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/rejestracja">Rejestracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container-fluid text-center">
<form action="/reset_hasla" method="post" class="login">
<p th:text="${komunikat_reset_hasla}" style="color:red;"></p>
    <h1 class="LogRejH"><b>Resetuj hasło</b></h1>
       <p>Podaj nowe hasło: </p>
<input type="password"  name="haslo" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[\d@$!%*?&#])[A-Za-z\d@$!%*?&#]{6,}$" title="Hasło musi zawierać minimum 6 znaków, w tym co najmniej jedną małą literę, jedną dużą literę oraz przynajmniej jedną cyfrę lub znak specjalny." placeholder="Wpisz nowe hasło">
<input type="hidden" name="token" th:value="${token}">
 </br>
        <center>
<button type="submit" class="zalogujButton">Zresetuj hasło</button>
</center>
    </form>
    </div>
    
     <footer class="footer">
       <p style="color: white; text-align: center;">© Copyright Jakub Lesiński & Jakub Piłkowski 2023 - 2024</p>
    </footer>
    
</body>
</html>